[2016-01-22 10:54] RichiH opened #1 "Oxidized - Router & switch backup system"
Security: Fully clamped down expect SSH for now

* https://github.com/ytti/oxidized
* https://github.com/ytti/oxidized-web
* https://github.com/ytti/oxidized-script

I might need to import the old Git repo before we spin that up

[2016-01-22 10:56] RichiH opened #2 "Management - nipap - IP management (and maybe poor man's CMDB)"
Security: Incoming fully clamped down expect SSH for now

* http://spritelink.github.io/NIPAP/

Vanilla install, just spin it up and I will fill it with data

[2016-01-22 10:56] RichiH opened #3 "Management - do we need a CMDB? What could we use?"

[2016-01-22 10:57] RichiH opened #4 "Monitoring - Prometheus"
Security: Incoming fully clamped down expect SSH for now

Rest should be obvious ;)

[2016-01-22 10:59] RichiH opened #5 "Monitoring - Device detection"
https://github.com/ytti/netcrawl

Given its access needs, it might make sense to toss that onto the Prometheus machine or deploy into a new machine, I don't feel strongly.

[2016-01-22 11:01] RichiH opened #6 "Services - local DNS resolution"
Security: Resolves for local IPs only

We need
* DNS resolving
* DNS64

in the past, that was done with Bind

Unless DNS64 needs to maintain state, we should have two resolvers on two different physical hosts.

[2016-01-22 11:14] RichiH opened #7 "Management - OpenVPN"
Security: Fully clamped down externally, full access internally

[2016-01-22 11:20] RichiH opened #8 "Monitoring - Grafana"
Security: Clamped down other than OpenVPN; needs access to Prometheus and should be in proxy mode

[2016-01-22 11:21] RichiH opened #9 "Monitoring - Syslog (incl graylog, logstash, elasticsearch, whatever)"
Security: Clamped down other than ssh

elasticsearch has Grafana integration, but I am not sure I care about which we use.

[2016-01-22 11:24] RichiH commented on #2
Access to NIPAP depends on https://github.com/FOSDEM/infrastructure/issues/7

[2016-01-22 11:25] RichiH commented on #4
https://github.com/FOSDEM/infrastructure/issues/8 depends on this

[2016-01-22 11:25] RichiH commented on #8
https://github.com/FOSDEM/infrastructure/issues/9 might depend on this

[2016-01-22 11:29] RichiH opened #10 "Monitoring - Wifi probes"
Raspi2 with dongles

[2016-01-22 11:33] RichiH opened #11 "Monitoring - WiFI OIDs"

[2016-01-22 12:32] RichiH opened #12 "Offsite - Git mirror"
If we end up migrating to GitHub with all repos, we need to retain a local copy of everything. Automagic backups, monitored by Prometheus, will be useful.

[2016-01-22 12:33] RichiH commented on #3
If we end up with a CMDB, we will host that offsite along with nipap etc.

[2016-01-22 13:10] RichiH opened #13 "Management - Ansible"
Well, duh.

Also kinda secured, I'd say ;)

[2016-01-22 13:13] RichiH opened #14 "OnSite - Wifi coverage mapping"
@arjanak47 @synnack

We would love to have an on-site survey to see where we need more coverage in either range or channels.

[2016-01-22 13:16] RichiH commented on #14
Meh... Who of the two of you do I assign?

[2016-01-22 13:21] RichiH opened #15 "Management - Network overview"
Ideally something pretty and useful we can toss onto a wall.

[2016-01-22 13:39] gerryd opened #16 "Network configuration - Static DHCP lease for the printer"
Please configure a static DHCP lease for the on-site printer. Its MAC address will be 00:1b:a9:3b:b3:90.

[2016-01-22 16:32] arjanak47 commented on #14
Let me see if I can loan AirMagnet Survey USB dongles from my employer. With that we can measure signal strength and plot heatmaps. Do we have floorplans available from the building?

In terms of capacity we should monitor channel utilisation using the Cisco SNMP MIBs. We can do that with Prometheus or Graphite.

[2016-01-22 16:55] arjanak47 commented on #10
SYNNACK and I were planning to bring 5x TP-Link Archer C7v2 with us we have also used at 32C3 as WiFi-probes.

I'm not sure if you are referring to the same thing? :)

[2016-01-22 16:59] arjanak47 commented on #11
AP-name table: .1.3.6.1.4.1.14179.2.2.1.1.3
Radio table: .1.3.6.1.4.1.14179.2.2.2.1.2
Clients per radio: .1.3.6.1.4.1.14179.2.2.2.1.15
ESSID table: .1.3.6.1.4.1.14179.2.1.1.1.2
Clients per ESSID: .1.3.6.1.4.1.14179.2.1.4.1.6
Active channel per radio: .1.3.6.1.4.1.14179.2.2.2.1.4
Channel noise on radio, per channel: .1.3.6.1.4.1.14179.2.2.15.1.21
Channel utilisation per radio: .1.3.6.1.4.1.14179.2.

[2016-01-22 20:05] RichiH commented on #14
We have detailed floorplans. Any preferred floor plans?

If you could survey once early-ish Friday, or leave a dongle for some time,
we can create a delta to normal operations...
That would be very useful...

Richard

Sent by mobile; excuse my brevity.

[2016-01-22 20:06] RichiH commented on #10
I was not, but all the better. Is Linux on them? What do they speak to read
them out?

Richard

Sent by mobile; excuse my brevity.

[2016-01-22 20:14] arjanak47 commented on #11
For SNMP walk output from my lab controller see: https://paste.bitlair.nl/index.php/view/48688117

Output from Graphite script from my lab controller: https://paste.bitlair.nl/index.php/view/90957071

Let me know if need to run some scripts towards my lab controller. Remote access to the controller is not possible since its currently in the lab network of my employer. I can however run scripts rem

[2016-01-22 20:17] arjanak47 commented on #14
Floorplans in whatever format you have will do. AutoCAD or vector-based PDF is preferred; but we can work with what you got.

I'll get back to you on the availability of the dongles (licenses for the survey software are attached those these dongles). I'll also check if I can loan a spectrum analyzer (which is useful if we would need to trace non-WiFi interference sources).

[2016-01-22 20:43] arjanak47 commented on #10
Ah :) this is a small project SYNNACK and I have been working on since December: https://github.com/bitlair/wifi-probe - and that is also one of the reasons why we wanted to help out at FOSDEM. The project is however in a very early state :)

So they run OpenWRT, wpa_supplicant and some scripts for automated tests. You would deploy a probe in a large room where it can hear multiple accesspoints. T

[2016-01-23 00:07] RichiH commented on #11
https://github.com/FOSDEM/infrastructure/tree/master/resources/snmp

[2016-01-23 17:02] pvaneynd commented on #16
What IP should it get?

[2016-01-23 17:52] RichiH commented on #16
We will redo the ip blocks after the weekend when we have nipap.

Richard

Sent by mobile; excuse my brevity.
On Jan 23, 2016 6:02 PM, "Peter Van Eynde" <notifications@github.com> wrote:

[2016-01-24 21:07] RichiH opened #23 "Monitoring - Geographic map for APs, video, etc"
In a perfect world, we could hack something with Grafana as we will have all the other stuff in there as well.

[2016-01-25 12:06] brian-brazil opened #25 "Don't run an open resolver"
https://github.com/FOSDEM/infrastructure/commit/78479bd5645992528d9f1bb74706f59304bd4ac2 was added as a quick hack to unbreak serving of authoritive zones. We should switch this from controlling `allow-query` to controlling `allow-recursion`.

[2016-01-25 12:26] SuperQ commented on #25
I already filed an upstream fix for the recursive issues.

[2016-01-25 12:37] RichiH commented on #25
https://github.com/FOSDEM/infrastructure/issues/6

[2016-01-25 13:20] SuperQ commented on #25
https://github.com/netzwirt/ansible-bind/pull/1 is the proper fix, I don't know ansible well enough how to overlay a fix for that other than adding some line replace.

[2016-01-26 07:48] RichiH commented on #2
https://github.com/SpriteLink/NIPAP/issues/874

[2016-01-26 16:14] ghosty-be commented on #16
other printer MAC addresses:
00:80:77:ec:2e:7c
00:80:77:ec:2e:61
00:80:77:ec:2e:75
I will bring 2 out of these 3, not sure which though

[2016-01-28 14:37] arjanak47 commented on #14
I can confirm I'm bringing Ekahau for surveying and AirMagnet Spectrum XT for spectrum analysis.

[2016-01-28 14:44] arjanak47 commented on #10
Just to confirm: SYNNACK and I will bring: 5x Archer C7v2 as WiFi-probes and a Sun server that runs Debian with KVM and a Graphite VM.

Wired connectivity for the probes has been discussed with Wouter.

[2016-01-28 16:56] brian-brazil commented on #25
Fixed by https://github.com/FOSDEM/infrastructure/commit/c7f0f98d7d8e4c609e69b35369dfebe202cca3cc

[2016-01-28 16:56] #25 closed

[2016-01-28 22:01] msuriar commented on #10
Ah, nice. I have 5 RPi2s with wifi adapters. If we can get WRT to run on the Pis, we can add them to your Archers.

[2016-01-28 22:03] brian-brazil commented on #10
We can plumb that into Prometheus presuming you're using the plaintext graphite protocol. http://www.robustperception.io/replacing-graphite-with-prometheus/

[2016-01-29 12:26] RichiH commented on #3
Ralph is the topic of a talk here, and I looked at it in the past, already...

@platan when will you be here and are you interested in trying to help us figure out if that's what we need & want?

[2016-01-29 15:26] #4 closed

[2016-01-29 15:26] #13 closed

[2016-01-29 15:55] #6 closed

[2016-01-29 16:57] arjanak47 commented on #10
4 WiFi-probes are up:

probe01: Janson
probe02: La Fontaine (K building)
probe03: H building
probe04: AW building

Reporting for now happens to Graphite at http://151.216.191.250/

[2016-01-29 17:38] #16 closed

[2016-01-30 10:31] RichiH opened #75 "Monitoring - Prometheus - Test config before deploying"

[2016-01-30 10:53] brian-brazil opened #76 "Ansible: Ensure we're flush_handlers where needed"
Missing after some sources.list additions and config changes.

[2016-01-30 11:19] SuperQ commented on #76
You shouldn't need this if you use apt_key and apt_repository modules

[2016-01-30 11:30] brian-brazil commented on #76
Ah right, I'm used to older versions of these modules.

[2016-01-30 11:30] #76 closed

[2016-01-30 15:45] RichiH opened #82 "Monitoring - WiFi - Get map of what AP is where"
This will allow us to monitor movement between rooms.

[2016-01-31 16:31] RichiH opened #87 "Get T-shirt sale data into Prometheus"

[2016-01-31 18:13] RichiH commented on #87
@aghos

[2016-01-31 18:18] RichiH opened #88 "Picture management before/after"
We take pics of how rooms looked before buildup, store and print them, and then tape them to the wall so we know how things looked.

If possible, we should toss this on a website for volunteers to see as well.

[2016-01-31 18:24] RichiH opened #89 "How to run a conference - Talk or blogs or whitepaper about all the things"
checklists, "you need food", etc.

[2016-02-01 08:57] SuperQ commented on #87
Great idea.

[2016-02-01 09:51] RichiH commented on #87
We already talked this through, it will happen and we will make it public :)

Richard

Sent by mobile; excuse my brevity.

[2016-02-01 09:52] SuperQ commented on #87
We'll need a new github repo for the `tshirt_exporter` :-D

[2016-02-01 09:59] RichiH commented on #87
Plan is to have the shirt sale thing be a part of the infrastructure repo
or we create a new repo for it.

Richard

Sent by mobile; excuse my brevity.

[2016-02-01 10:07] aghos commented on #87
i"ll create a repo for it, because some active development is needed.
But first i'll have to clean up the code.

[2016-02-01 10:13] SuperQ commented on #87
@aghos What is the current code like that tracks the sales?

[2016-02-01 10:43] aghos commented on #87
the current code is php with jquery and was written when I had the time at night

the first thing I should change is add a dynamic form than can be updated from the config file, clean up code, add some checks for get variables and remove the copy paste lines and make it more dynamic.

I believe I can do this in a general short periode of time.

[2016-02-01 10:58] RichiH commented on #87
https://github.com/FOSDEM/frontdesk-t-shirt_tracker exists and we can all write to it.

@aghos You are free to do this in your own repo if you prefer, but given the "conference-in-a-box" thing, I would like to make it as easy as possible for others to copy from us.

[2016-02-02 21:30] RichiH opened #90 "Monitoring - make sure all video boxes/laptops have _exactly_ the same system time"

[2016-02-02 21:36] brian-brazil commented on #90
FOSDEM: Defying special relativity since 2016.

[2016-02-02 21:42] RichiH commented on #90
We just need to make sure they have _exactly_ the same gravity exposure. Easy.

Alternative answer: _I_ am not the one pretending to have zeptosecond precision in my instrumentation ;)

[2016-02-02 22:06] RichiH opened #91 "Monitoring - Gauge room fullness by MAC address count. Optionally display that on the web or on info screens in bar, etc"

[2016-02-02 22:14] RichiH opened #92 "Monitoring - temp, humidity, other stats"
We could toss one each into the video boxes, add them to the wifi probes and optionally make a few cheap throwies.
We could also display that in the overview of https://github.com/FOSDEM/infrastructure/issues/91

[2016-02-02 22:16] RichiH opened #93 "Off-site infra - make list of all services on all machines"

[2016-02-02 23:04] RichiH commented on #91
* ~900 people in Janson during opening talk
* 210 people in Janson @ 1003 on Sunday

[2016-02-04 15:42] RichiH opened #94 "Monitoring - Ingest video data, especially sound"
We should have "normal" paramaters of loudness, sync, left/right, etc and ideally expose those to the monitoring. We have many videos for 2016 with low volume, some with no sound, many too dark, etc pp.

At least part of those should be caught via instrumentation and alerts.

[2016-02-04 19:15] SuperQ commented on #94
I was also thinking about a SPL Metric of some kind, which would allow
detection of disconnected mics.

[2016-02-04 20:33] RichiH commented on #94
Aye, that's what I meant with "no sound", but the underlying technical answer may be more complex than I think.

Listening in on streams is still good, and needed, but we should detect stuff if people don't listen in for whatever reason.

[2016-02-04 23:39] RichiH commented on #94
Colour distribution for "shadows against wall that's being recorded by mistake"

[2016-02-04 23:39] Thulinma commented on #94
We should be able to provide audio levels for L/R in some shape or form, at least. Also - bitrate is a good indicator for movement/audio. And we can definitely provide the current bitrate of each stream.

[2016-02-04 23:46] Thulinma commented on #90
For reference: simply running ntpd as we were this year seems to have provided < 2 second desync between cam/slides in most rooms. The desyncs in recordings we're seeing so far is mostly human error (wrong calculation of time offsets).
(Which is odd - because last year, we had a single laptop handling both encoders and desync was larger! Apparently the hardware has initialization time which is aff

[2016-02-04 23:59] RichiH commented on #94
EBU R128 seems to be the specs we want for sound monitoring.

[2016-02-05 00:13] Thulinma commented on #94
https://ffmpeg.org/ffmpeg-filters.html#astats <-- This might also be useful. Especially since we can relatively easily extract it.

[2016-02-05 12:17] RichiH opened #95 "Administrative - Become a LIR -- Send out everything on 2016-10-01"
We should send everything out on 01.10.2016 to minimize cost & maximize time.

[2016-02-05 12:18] RichiH commented on #95
@gerryd  I can do it as well, but it's prolly easiest if you do it.

[2016-02-10 01:09] #8 closed

[2016-10-31 15:35] gerryd commented on #95
Done, we are now a RIPE member as "be.fosdem". @RichiH, if you mail me your RIPE account, I will give you access.

[2016-10-31 15:35] #95 closed

[2016-11-27 23:24] RichiH commented on #87
https://github.com/FOSDEM/frontdesk-t-shirt_tracker/issues/2

[2016-11-27 23:26] RichiH commented on #23
https://github.com/FOSDEM/video/issues/43

[2016-11-27 23:26] RichiH commented on #23
https://github.com/FOSDEM/video/issues/42

[2017-01-27 16:55] RichiH commented on #9
We have rsyslog in ansible, at least.

[2017-01-27 16:55] RichiH commented on #3
@SuperQ did you eval forgotthename?

[2017-01-27 16:58] RichiH commented on #15
@corosuske Can you try and get the list from ULB?

[2017-01-30 17:14] gerryd opened #101 "Video network ACLs"
For the video network (`185.175.218.0/24`), I think we want to have these ACLs set:

- Inbound:
  - default policy: deny
  - permit all from `51.15.42.23/32` and `2001:bc8:4700:2300::19:f05/128` (control0.video.fosdem.org)
- Outbound:
  - default policy: permit

@krokodilerian, @markvdb: does this look sane to you?

[2017-01-30 17:27] krokodilerian commented on #101
@gerryd yes, there is no other traffic going back in. (and this way, control can be used as a jump host back in the video vlan, in worst case scenarios).

[2017-01-30 17:28] markvdb commented on #101
+1.

[2017-01-30 18:06] RichiH opened #102 "Ansible all the dhcpd"
https://github.com/FOSDEM/video/issues/58

[2017-01-30 18:07] RichiH opened #103 "ULB network IP for main server for accessing ULB WLC"
As per IRC.

[2017-01-30 18:27] RichiH opened #104 "DNS resolver and DNS64"
Should mostly be a copy from last year.

@corosuske might even be able to test that tomorrow.

[2017-01-31 10:58] RichiH opened #105 "Move Wired-video-LAN away from a whole /19"
It's currently 151.216.192.0/19 and should probably be a /23 at max.

Might be better to do that in 2018.

[2017-01-31 11:01] RichiH commented on #88
@corosuske Is this something worthwhile? If yes, do you own this or should someone else?

[2017-01-31 11:22] RichiH opened #106 "Reduce size of wired network from /19 to /23-ish"

[2017-02-02 03:25] RichiH opened #107 "install sipcalc on all servers by default"

[2017-02-03 00:01] msuriar commented on #102
Having had a poke around in here, it appears that this is what we need:

http://debops-documentation-testing.readthedocs.io/en/latest/ansible/roles/ansible-dhcpd/docs/defaults-configuration.html#dhcpd-hosts

See 03321f8 for an example

Ideally I want all the static leases in a single external file, but it's not clear from the docs whether that should be YAML or raw dhcpd.conf syntax. Grr.

[2017-02-03 18:42] RichiH opened #109 "install zsh vcsh"

[2017-02-04 08:12] msuriar commented on #104
This is done and working, didn't need any changes.

[2017-02-04 08:12] #104 closed

[2017-02-04 08:30] msuriar commented on #102
I think this is now done.

[2017-02-04 08:30] #102 closed

[2017-02-04 08:31] #109 closed

[2017-02-04 08:32] #107 closed

[2017-02-04 08:42] #87 closed

[2017-02-04 08:46] #103 closed

[2017-02-04 08:55] msuriar commented on #5
Won't fix; we're going to need to have inventory anyway for config management.

[2017-02-04 08:55] #5 closed

[2017-02-04 09:09] msuriar commented on #105
Done, we've migrated them to a 185.175.218.0/24.

[2017-02-04 09:09] #105 closed

[2017-02-04 09:26] msuriar commented on #94
Working, we have data in prometheus and a grafana dashboard.

[2017-02-04 09:26] RichiH commented on #94
https://grafana.n.fosdem.net/dashboard/db/video-audio

[2017-02-04 09:26] #94 closed

[2017-02-06 14:36] ghosty-be opened #110 "wired IPv4 network for laptops and printers behind infodesk"
printers don't like the v6 network ...
But there is a bigger issue to be sorted with printing in general. (but thats out of this scope perhaps)

[2017-02-06 21:05] RichiH commented on #110
Please document the issue nonetheless

[2017-02-06 21:09] corosuske commented on #110
i am fairly sure the infodesk network was a dual stack network that also had ipv4 adresses

saterday morning it was plugged into a defective switch that  was the cause of the printer not getting an adress (or connection for that matter) .. relacing it with a good (cisco) swicth seems to have helped

[2017-02-07 18:48] RichiH commented on #110
Infodesk should be dual-stacked, yes. Next year, we will have an actual numbering plan.

[2017-02-09 13:35] lhirlimann opened #111 "Observatory grades fosdem's TLS configuration as D+"
Could we get a C/B for 2018 ?
https://observatory.mozilla.org/analyze.html?host=fosdem.org

[2017-02-11 14:46] kergon commented on #111
We can add a review/update of the webserver configurations to our task list, yes.

[2017-02-11 17:13] kergon commented on #111
Well it's B+ now.  Some trivial bits of javascript need moving to make it higher.

[2017-02-12 08:53] RichiH opened #112 "Content security header"
Copy of Alaisdair's email:

Are we fully self-hosted?

  https://scotthelme.co.uk/content-security-policy-an-introduction/

- The videos on the main website use external URLs (video mirrors, flowplayer.org)
  e.g.  https://www.fosdem.org/2017/schedule/event/trusted_service_provider/

Anything else anyone can think of?

[2017-10-21 13:42] markvdb opened #113 "make sure not to write smartmon.prom elsewhere than SD"
/srv/node_exporter/textfiles/smartmon.prom gets written every minute. In the case of the video boxes, to the SD card.

This should at the very least be made configurable, so we can avoid writing to the SD..

[2017-10-21 14:23] SuperQ commented on #113
Yup, it should already be configurable, we can put that in a group_vars template.

[2017-10-21 14:24] SuperQ opened #114 "Sync and cleanup ansible roles"
We should update the Prometheus related ansible roles from my [upstream](https://gitlab.com/superq/prometheus-ansible).

/cc @RichiH

[2017-11-19 13:18] gerryd commented on #113
I've updated the group_vars for the video boxes. The node_exporter binaries and textfiles are now on the SSD. I've also added a skip for the untar task if the correct version of node_exporter was already present. This saves us quite some time when deploying videoboxes which don't have a lot of CPU power.

[2017-11-19 13:18] #113 closed

[2017-12-28 13:02] gerryd opened #116 "mtail fails on startup"
On the stream frontends, backends and webserver (which hosts the browser video player), we install mtail to help gather statistics.

Starting the mtail service fails:

    F1228 13:42:21.297228   14758 main.go:68] couldn't start: Compile encountered errors:
    compile failed for nginx.mtail:
    nginx.mtail:30:5-28: Identifier `http_m3u8_requests_total' not declared.
    	Try adding `counter http

[2017-12-28 13:09] gerryd opened #117 "Use prometheus-node-exporter from packages"
I noticed `prometheus-node-exporter` is now packaged for Debian. Stretch seems to have version 0.13.0, which is the one we're currently running.

Could you look into using that instead of the tarball?

[2017-12-28 13:12] SuperQ commented on #117
I will be working on updating the ansible config for Prometheus components.  Not likely using Debian packages as they are very old.

[2017-12-30 12:29] RichiH opened #119 "Alert on synchronized time"
https://github.com/FOSDEM/video/issues/105#issuecomment-354541372

[2017-12-30 13:12] SuperQ commented on #119
I'm upgrading the `node_exporter` which has a nice new NTP monitoring module.

[2018-01-03 13:34] SuperQ opened #120 "Update ULB DNS entries"
`server001.sk1-510.k.ulb.bru.fosdem.net`:
* A `185.175.216.250`
* AAAA `2001:67c:1810:f054:baca:3aff:fef7:402c`
* CNAME `server001.fosdem.net.`

`server002.sk1-510.k.ulb.bru.fosdem.net`:
* A `185.175.216.252`
* AAAA `2001:67c:1810:f054:baca:3aff:fef7:4f75`
* CNAME `server002.fosdem.net.`

[2018-01-14 16:31] SuperQ commented on #120
Since this is taking some time, I decided to re-IP server001 to the old IP, it's now `185.175.216.250`.  I will update the issue to match.

[2018-01-15 05:56] #120 closed

[2018-01-15 05:56] corosuske commented on #120
this has been done

[2018-12-02 14:03] SuperQ opened #134 "Add Prometheus monitoring to audio-fetcher"
We need Prometheus collection of monitoring based on the [audio-fetcher](https://github.com/FOSDEM/infrastructure/blob/master/ansible/playbooks/roles/video-voctop/files/audio-fetcher/audio-fetcher).

[2019-01-03 10:43] SuperQ commented on #134
Resolved by https://github.com/FOSDEM/infrastructure/pull/139.

[2019-01-03 10:43] #134 closed

[2019-01-03 10:45] SuperQ commented on #3
Are you thinking about something like [Netbox](https://github.com/digitalocean/netbox)?

[2019-01-03 10:48] SuperQ commented on #90
We now have chrony auto-installed on all nodes. We need to enable monitoring and alerting of this via the node_exporter.

[2019-01-03 10:50] SuperQ opened #141 "Monitoring - Deploy IRC bot for alertmanager notificaitons"
In order to deliver Prometheus alerts to IRC, we need a bot to connect to the correct IRC channels.

[2019-01-03 11:15] RichiH commented on #141
Do we want to escalate to cell phones directly as well?

Sent by mobile; please excuse my brevity.

On Thu, Jan 3, 2019, 11:50 Ben Kochie <notifications@github.com wrote:

[2019-01-03 12:56] RichiH commented on #3
It seems Netbox is the least shite, yes. c3noc was complaining about slowness, but our deployment is smaller, so...

[2019-01-03 13:01] SuperQ commented on #3
Do we have a FOSDEM server somewhere outside of ULB for this kind of thing?

[2019-01-03 13:20] RichiH commented on #3
Yes, we do. @gerryd can help with setting a VM, jail, etc up.

SSC (forgot his GH handle) also suggested we look at TeemIP

[2019-01-03 13:21] RichiH commented on #3
PS: It's @Bastischubert

[2019-01-03 14:16] yoe commented on #3
for those of us who don't follow the enterprise kool-aid: what's a "CMDB"?

[2019-01-03 14:23] SuperQ commented on #3
[CMDB](https://en.wikipedia.org/wiki/Configuration_management_database) isn't _exactly_ what we need. We're only really in need of an IP address / resource management system.

We already have Ansible for software configuration.

[2019-01-03 14:38] RichiH commented on #3
Configuration and management database

Sent by mobile; please excuse my brevity.

On Thu, Jan 3, 2019, 15:16 Wouter Verhelst <notifications@github.com wrote:

[2019-01-16 11:05] SuperQ commented on #141
We could use a free 14 day trial of PagerDuty, VictorOps, etc.

[2019-01-16 13:44] bwplotka commented on #141
Or just use slack integration which is out of box? to some CNCF slack channel?

[2019-01-16 13:48] SuperQ commented on #141
We use IRC, not slack. I think it's possible to send webhooks to Riot, which might be good enough.

[2019-01-16 16:50] yoe commented on #141
Or we could use some open source IRC bot? Plenty of those exist...Verzonden vanaf mijn Huawei mobiele telefoon-------- Oorspronkelijk bericht --------Onderwerp: Re: [FOSDEM/infrastructure] Monitoring - Deploy IRC bot for alertmanager notificaitons (#141)Van: Ben Kochie Aan: FOSDEM/infrastructure Cc: Subscribed We could use a free 14 day trial of PagerDuty, VictorOps, etc.

—You are receiving this

[2019-01-16 16:56] SuperQ commented on #141
@yoe IRC bot was my first idea. It's a bit more work since we would need to setup a server, build the code, etc. One option is [this bot](https://github.com/multimfi/bot).

[2019-01-20 16:53] SuperQ commented on #119
https://github.com/FOSDEM/infrastructure/pull/145

[2019-01-26 08:47] #119 closed

[2019-01-26 15:11] gerryd commented on #110
The MAC address of the printer for the K infodesk is 9c:93:4e:6e:71:05

Could someone assign a static IP address to this machine and let me know which one that will be? I will update DNS accordingly.

This should happen **before** Friday, as we will probably need a printer at some point during build-up.

[2019-01-27 00:36] ghosty-be commented on #110
just thinking out loud but could we have the same DNS entry working for the printer both at the office and at FOSDEM? So we don't have to change any settings in our laptops? :)

[2019-01-27 06:00] RichiH commented on #110
Just played it through in my head; you would not have as many advantages as
you think.

Sent by mobile; please excuse my brevity.

On Sun, Jan 27, 2019, 01:36 ghosty-be <notifications@github.com wrote:

[2019-01-27 11:24] SuperQ opened #150 "Monitoring - Add Grafana to control.video.fosdem.org"
* [x] Update grafana role on `video-control-server`.
* [x] Update documentation on https://github.com/FOSDEM/video/wiki/FOSDEM-2019-VOC-manual-draft

[2019-01-27 17:32] krokodilerian commented on #150
as this is filtered and available only in the video vlan (nginx doesn't export it), yes.

[2019-01-27 17:43] markvdb opened #155 "no dhcp on video vlan"
Hello,

As notified by email yesterdatn, and as per your request to file here, we will be running our own dhcp server on the video vlan, so please disable the central dhcp server there.

Kind regards,

Mark

[2019-01-27 21:28] #150 closed, assigned to SuperQ

[2019-01-28 08:56] pvaneynd commented on #110
Assigned the printer ip 151.216.190.5 will document this on the new 2019 wiki page. Please adjust DNS name there if wanted.

[2019-01-28 08:58] pvaneynd commented on #155
Removed the DHCP server on the router for 151.216.192.0/255.255.224.0

[2019-01-28 14:17] SuperQ commented on #155
I still need to cleanup some DHCP server cruft on the event server.

[2019-01-28 18:42] #155 closed

[2019-01-30 22:47] yoe opened #165 "No branch protection on master"
Someone set up the "review required" bit on this repository, on the master branch, less than a week before the conference.

This is not the time to be making such changes. We can discuss at the postmortem if that's necessary, but we *do not* block people from working by changing the whole workflow that short of a time before the conference.

It has been switched off again now. Please leave it like

[2019-01-30 22:59] krokodilerian commented on #165
Let me back @yoe here. I say we're grown up people and we know not to make breaking changes in the last moment, and also that we might need to push something during FOSDEM because of $crap. So blocking isn't a good idea.

[2019-01-31 09:44] pvaneynd opened #166 "Syslogging on server 1 is broken"
There are two issues:

1 non-router traffic is logged
2 log files are not rotated

# du -h  /var/log/router-log/*
180K    /var/log/router-log/185.175.216.254
8.0K    /var/log/router-log/192.168.211.254
622M    /var/log/router-log/server001

[2019-02-01 05:07] SuperQ opened #170 "Sync public dashboards"
We can add [this ruby script](https://gitlab.com/gitlab-cookbooks/gitlab-grafana/blob/master/files/default/sync_grafana_dashboards.rb) to sync the private Grafana to the public one.

We will have to figure out how to either add basic auth, or add an exception to basic auth in the Caddy config.

[2019-02-02 08:02] SuperQ opened #176 "Dashboard and alert for Trunk saturation"
We would like to have a dashboard and alert for link saturation of trunk ports between switches.

[code]

[2019-02-02 08:04] SuperQ opened #177 "Monitor Nat64 pool"
We need to watch the Nat64 pool use on the ASR1k.

[2019-02-02 10:39] SuperQ commented on #176
Fixed with https://github.com/FOSDEM/infrastructure/pull/179

[2019-02-02 11:12] #176 closed

[2019-02-02 11:13] SuperQ commented on #170
Fixed with https://github.com/FOSDEM/infrastructure/pull/178

[2019-02-02 11:13] #170 closed

[2019-02-02 17:29] SuperQ opened #185 "Get reviewstorage servers a public IP setup"
reviewstorage0.video.fosdem.org currently is private IP only due to NFS. We should setup a firewall so we can get it on a public IP so we can manage it with our usual setup.

[2019-02-03 11:29] SuperQ opened #188 "WLC Suggestions"
1. Standardize naming convention of all APs.

Suggestion: `campus-building-(room|location)-number`

[2019-02-03 14:04] yoe commented on #185
same for other reviewstorage machines, BTW :-)

Also, these are not set up through ansible (it's just a "apt install nfs-kernel-server; vi /etc/exports: systemctl restart nfs-kernel-server" and done). Might want to fix that, too.

[2019-02-03 14:22] SuperQ opened #189 "Add role for nfs server"
Create a role to configure NFS server on reviewstorage servers.

* `apt install nfs-kernel-server`
* Configure `/etc/exports`

[2019-02-03 16:37] SuperQ opened #192 "Dedupe alerts for environment"
The alertmanager needs to know about the per-prom `environment` label.

[2019-02-03 18:01] yoe opened #193 "fosdem with UID 1000 might conflict with pre-existing users"
scaleway defaults to creating a `debian` user on their Debian images.

These ansible scripts also want to create a `fosdem` user, on the same uid of 1000. This creates an error situation:

We should do one of the following:

- Remove the "debian" user with uid 1000 if it exists
- Don't hardcode the uid, allow ansible to create one (though this might result in problems with NFS or similar protocols

[2019-02-03 18:45] RichiH commented on #193
Yes, it makes sense to start all our stuff at 10000 or something.

[2019-02-03 18:58] gerryd commented on #193
I can live with that, but I would also delete the default `debian` user account with the scaleway role. There's no reason for it to exist...

[2019-02-04 13:38] SuperQ opened #195 "Fix chrony deploy iteritems() issue"
We ran into an issue with iteritems() in the chrony deploy.

@yoe: Can you paste the error message you got?

[2019-02-04 13:39] SuperQ commented on #195
@paulfantom suspects that this is a Python 2/3 issue and we need to replace `iteritems()` with `items()`.

[2019-02-04 13:40] SuperQ commented on #195
My ansible:
[code]

[2019-02-04 13:40] SuperQ commented on #195
My ansible:
[code]

[2019-02-04 13:45] SuperQ opened #197 "Implement CI tests for ansible"
Some CI testing suggestions from @paulfantom

[code]

[2019-02-04 13:59] paulfantom commented on #197
Ansible needs to know all variables before running playbooks and tests. This means either:
1) decrypting `secrets.yml` before running tests suite
2) creating fake, unencrypted `secrets.yml` files for testing

Just to be on a safe side I would recommend going with second option.

[2019-02-04 14:57] SuperQ opened #198 "Fix NTP client issue on video network"
Hosts on the video network had issues in 2019 with connecting to pool.ntp.org.

[2019-02-05 07:55] yoe commented on #195
wouter@gangtai:~$ ansible --version
ansible 2.7.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/wouter/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.7.2+ (default, Feb  2 2019, 14:31:48) [GCC 8.2.0]

That cou

[2019-02-05 08:48] SuperQ commented on #193
+1 to both 10,000 UID range and removing the `debian` user.

I was also thinking about moving us away from direct root login and default to `fosdem` user + sudo. I can open a separate issue to discuss that.

[2019-02-05 11:36] #195 closed

[2019-02-06 10:42] RichiH opened #199 "staff-only WiFi"
* Hidden ESSID
* Dual-stacked
  * IPv4 from permanent PA space so it can stay up before/after
* Same as front desk LAN
* Privileged to access NOC/VOC stuff
* Incoming ACL to filter out shit (we had someone print garbage on infodesk printers)

[2019-02-06 13:03] SuperQ commented on #199
What about going the CCC route and using a self-registration WPA-EAP setup? This way we can trigger vlans by username. Is this something the Cisco WLC can do?

[2019-02-06 13:19] RichiH commented on #199
Most likely yes, and I would also like encrypted links per person etc. But
I would plan without that for now as it's invasive and not the highest
priority. Choose your battles.

Sent by mobile; please excuse my brevity.

On Wed, Feb 6, 2019, 14:03 Ben Kochie <notifications@github.com wrote:

[2019-02-06 13:27] SuperQ commented on #199
If we're going to add a third SSID, we could set it up as an experimental `FOSDEM-wpa`

[2019-03-31 10:53] SuperQ opened #208 "Backup event servers"
Add restic role and send backups of server001 and server002 to the offsite restic storage.

[2019-03-31 11:42] paulfantom commented on #208
Can I interest you in https://github.com/paulfantom/ansible-restic ? :smile:

[2019-03-31 12:03] SuperQ commented on #208
That was my plan.

[2019-04-01 06:12] #208 closed

[2019-04-12 14:54] markvdb opened #210 "ansible deploy fail after power supply metrics comit"
Hello,

This one seems to have made ansible deploy fail? Can you have a look into that?

Mark
<pre>TASK [power_supply : Install timer/service unit] ************************************************************************************************************************
changed: [control.local] => (item=power_supply_metrics.timer)
changed: [control.local] => (item=power_supply_metrics.service)

TASK

[2019-04-12 14:58] markvdb opened #211 "ansible deploy fails after trying to install influxdb from non-debian repo"
Hello,

Please have a look into this. Influxdb installation fails to install from the non-debian source you added.

Regards,

Mark
<pre>
TASK [video-control-server : install packages] **************************************************************************************************************************
fatal: [control.local]: FAILED! => {"cache_update_time": 1555080266, "cache_updated": false,

[2019-04-12 15:01] SuperQ commented on #210
Sure, I'll take a look.

[2019-04-12 15:11] SuperQ commented on #211
Looks like this is because the official influxdb package includes the client package so there's a file conflict.

[2019-04-12 15:16] SuperQ commented on #210
It looks like there's something wrong with the power supply script.

Can you run `journalctl -u power_supply_metrics.service`?

Also running `/usr/local/bin/power_supply_metrics.sh` might help see if there's an error.

[2019-04-12 15:31] markvdb commented on #210
Sorry, can't right now. I'm actually setting this up for production.
Running without it...

Op vr 12 apr. 2019 om 17:16 schreef Ben Kochie <notifications@github.com>:

--
Mark Van den Borre
Hogestraat 16
3000 Leuven, België
+32 486 961726

[2019-04-12 16:18] markvdb opened #213 "control.video.f.o : problem when using .local addresses"
added an item to /etc/hosts to get around this. According to Vasil, might get around this by invoking nc.

<pre>PHP Warning:  fsockopen(): unable to connect to room0-voctop.local:9999 (php_network_getaddresses: getaddrinfo failed: Name
                           or service not known) in /var/www/html/vocto.php on line 78" while reading response header from upstream, client: 10.15.1.210, server:

[2019-04-14 09:48] markvdb commented on #211
Debian 10 "buster" contains influxdb 1.6.4 (released 20181004) and is currently in freeze. It should be ready long before the next FOSDEM.

We might want to switch over the ansible repo to Debian buster soon and settle on the Debian packaged version. That should keep things predictable with a minimum of extra work. @gerryd , @krokodilerian , @hackman : what do you think?

[2019-04-14 09:57] markvdb opened #214 "investigate avahi cname mappings for local video related machines"
https://github.com/FOSDEM/video/wiki/Avahi-cnames

Just an idea: a random video box (slides, cam, voctop, control) gets its own .local name based upon hostname.

A central point on the network (ansible/web frontend/...) pushes avahi cname mappings for each of these, from box number to room name. Example: cam-janson.local -> cam-17.local, slides-janson.local -> slides-4.local, voctop-janson.local -

[2019-04-14 10:13] krokodilerian commented on #211
@markvdb if buster has been stable for more than a few months, I'm for it, we can test it at the hackaton (and before on some events).

[2019-04-14 11:27] SuperQ commented on #211
@markvdb We probably don't ever want to depend on Debian for the packages we care about.

I already sent you a permanent fix for this, but you have not reviewed it.

[2019-04-14 12:18] krokodilerian commented on #211
@SuperQ , actually, we do and this is the preferred way - we do this for nginx and ffmpeg, for example, and try to do it for voctomix (it's from backports now, afaik). The stuff in Debian stable is as stable as it gets, otherwise you tend to hit crappy bugs in production, and pretty much every problem in our case leads to lost video.

[2019-11-24 23:40] krokodilerian commented on #211
Fixed in some way at the hackaton.

[2019-11-24 23:40] #211 closed

[2019-11-24 23:41] krokodilerian commented on #198
Resolved on the hackaton.

[2019-11-24 23:41] #198 closed

[2019-11-25 04:20] SuperQ commented on #211
It would be good to link the pull request or code change(s) that solve issues. When you just close with "fixed", it's extremely difficult to follow the history of what we change and why. I know it seems tedious, but this is why we do pull requests in the first place.

[2019-11-25 04:23] SuperQ commented on #211
I also find it extremely annoying that I sent out a fix for this in April, and it was completely ignored.

[2019-11-25 10:05] krokodilerian commented on #211
The few things closed here were fixed before I got to the issues (which was on the plane back to Sofia). These issues were fixed in the process of getting the whole thing up. The relevant commits are 0c576011dce0664685961a862781b284751224b9..82c89adc5d46767da49fa3b242c16b79a4262806.

As for the remaining issues, they'd be addressed separately, as there are a few which might be problems in producti

[2019-11-25 15:15] SuperQ commented on #117
Sadly, the Debian packages are too far behind for production use. I would prefer to keep using the Cloudalchemy ansible roles, as they're auto-updated when Prometheus official releases are cut. Debian just doesn't have the automation required for modern use.

[2019-11-25 15:15] #117 closed

[2019-11-25 15:16] SuperQ commented on #114
This is obsolete, we're now using the cloudalchemy roles.

[2019-11-25 15:16] #114 closed

[2019-11-29 14:50] SuperQ commented on #197
CI is enabled, and our first test is a simple run of yamllint. https://github.com/FOSDEM/infrastructure/pull/215

[2019-11-29 17:32] SuperQ commented on #197
Added the ansible-lint testing here: https://github.com/FOSDEM/infrastructure/pull/218.

[2019-11-30 13:04] SuperQ opened #219 "Cleanup "when changed" ansible tasks"
From ansible-lint, "Tasks that run when changed should likely be handlers". This is probably something worth cleaning up in most cases.

[2019-12-13 10:55] SuperQ opened #222 "Monitor server health"
I noticed today that one of the PSUs in server002 was failed. We should probably add some monitoring of the servers hardware. We have some stuff via the node_exporter, but it is probably useful to add something that monitors via the iDRAC in the servers.

There are a couple of dell/idrac/redfish options. But the iDRAC also supports SNMP.

[2019-12-14 16:36] gerryd opened #224 "dash does not know about the pipefail option"
We have the `pipefail` option set in a few places. However, on modern Debian systems, `/bin/sh` is dash, which does not know `pipefail`.

  - ansible/playbooks/roles/video-box/tasks/configure_ssd.yml
  - playbooks/roles/video-stream-dump/tasks/configure_hdd.yml
  - playbooks/roles/video-streamer-backend/tasks/mount_ssd.yml

Adding the following helps:

      args:
        executable: /bin/bash

Bu

[2019-12-14 16:56] SuperQ commented on #224
I was thinking about how to refactor these anyway. I wanted to switch to a normal partition setup, since it's easier to detect and manage the filesystem if there's `/dev/sdX1`, rather than a formatting and mounting a bare block device.

In the mean time, we could either switch the execution to bash with this:

[code]

Or I can just revert the pipefail test and add a `noqa` flag.

What do you think

[2019-12-14 17:08] SuperQ commented on #224
Posted a rollback PR.

[2019-12-14 17:20] SuperQ commented on #224
One way to avoid the pipefail issue, is to not pipe.

[code]

[2019-12-14 17:20] krokodilerian commented on #224
I think all the "lovely" tools out there check the existence of partitions by looking for /dev/sda[0-9]+ and count those. It's pretty much insane, but doesn't seem to be a better way (there's something similar in /sys/class/block/sda/sda[0-9]+).

My suggestion would be to do:
blockdev --rereadpt device
udevadm settle
list /dev/sd...
and count them in ansible as the count

that would solve the exac

[2019-12-14 17:22] SuperQ commented on #224
:+1: to putting a GPT label on the block device.

[2019-12-14 17:27] #224 closed

[2019-12-14 18:24] SuperQ opened #226 "checksum downloads cause 429 error"
cc @gerryd

When deploying to the big list of video boxes, the github releases download of the `sha256sums.txt` happens in parallel from all the nodes in a very short time, triggering GitHub to 429 error the requests.

[code]

We should only hit this once in setup, avoiding the need to execute it for every node.

https://github.com/FOSDEM/infrastructure/blob/master/ansible/playbooks/roles/sproxy/t

[2019-12-15 06:09] SuperQ commented on #226
Maybe it would work to set `delegate_to: localhost`

[2019-12-15 09:21] krokodilerian commented on #226
The options in my head look like this (no order of preference):

1) get a CDN-like service in front of this that doesn't crap out this fast, something cloudflare-like.
2) switch to a list of mirrors
3) push the binaries in the repo. It was like that anyway.
4) add a script to update the local copy of the binaries, like we do with the private stuff. This can easily be combined with a check "is this

[2019-12-15 10:06] krokodilerian commented on #226
(wrote that on IRC,  but that's not the right place)
Actually, why not just download all architectures with a run_once task, and use those? Those are small, will most probably be needed anyway, and will not kill githun

[2019-12-15 10:37] SuperQ commented on #226
1. It's already going to a CDN service, the real problem is NAT. This wouldn't be an issue if the video boxes had public IPs.
2. That's unrelated.
3. It's not the binaries that's the problem, it's the checksum validation fetch.
4. It's not the binaries, that part is already copied locally.
5. Something like packagecloud.io could be an option. They have free accounts for free software.

[2019-12-15 13:00] #226 closed

[2019-12-18 09:53] yoe commented on #224
I know I'm late to the party, but...

You can work around that by testing the exit state:

`foo | bar | { grep foo || test $? -eq 1 }`

According to the docs, the exit state of "grep" is 1 when no lines matched, and could have other exit states in other cases. Since we don't consider "no lines matched" to be an error, we test for that exact error from grep only, and ignore it -- in all other cases

[2019-12-27 16:27] #222 closed

[2019-12-28 13:53] gerryd opened #241 "node_exporter service failing"
The Prometheus node_exporter service is failing on (at least) all video-related machines:

    Dec 28 14:50:47 aw1120-voctop.video.fosdem.org systemd[1]: Started Prometheus Node Exporter.
    Dec 28 14:50:47 aw1120-voctop.video.fosdem.org node_exporter[11921]: time="2019-12-28T14:50:47+01:00" level=info msg="Starting node_exporter (version=0.18.1, branch=HEAD, revision=3db77732e925c08f675d7404a8c4

[2019-12-29 10:12] #241 closed

[2020-01-27 08:56] SuperQ opened #256 "Get room data into Prometheus"
We're currently using the json_exporter to scrape the "listrooms" API. It would be nice to cut out the extra steps and have the API return Prometheus data directly.

[2020-01-29 18:05] johanvdw opened #260 "Get some stats from nav.fosdem.org"
Opening an issue here. It would be nice if we could get some statistics from https://nav.fosdem.org/ .

Eg number of unique visitors, and perhaps some health statistics of the server, as I have no idea how well it copes with the usage.

[2020-02-01 09:17] bastischubert opened #266 "Missing intermediate letsencrypt cert in nginx (was Infodesk Laptops Firefox complains about LetsEncrypt Certificates)"
While trying to use one of the Infodesk Laptops to access https://control.video.fosdem.org it refuses to connect SEC_ERROR_UNKNOWN_ISSUER - after updating Firefox esr to latest (apt update && apt upgrade) Problem still exists.

Why is this important: We need to connect to control.fosdem to check video and audio levels :/

[2020-02-01 09:28] RichiH commented on #266
We are working on it and fix incoming in ~10m.

[2020-02-01 09:28] RichiH commented on #266
Use FOSDEM-dualstack as a fallback for now

[2020-02-01 09:34] krokodilerian commented on #266
@bastischubert can you retest?

[2020-02-01 11:08] bastischubert commented on #266
infodesk laptop of us now working after importing the proper intermediate ca certs to the browser. seems like the control.video.fosdem.org server is miconfigured and does not toss out the intermediate certs

[2020-02-01 11:08] bastischubert commented on #266
we have a certificate unknown signer issue - nothing with the underlying network at all ;)

[2020-02-01 11:09] bastischubert commented on #266
see https://www.ssllabs.com/ssltest/analyze.html?d=control.video.fosdem.org&s=185.175.218.11

[2020-02-01 15:33] RichiH opened #274 "Install Mermaid JS plugin via Ansible"

[2020-02-02 06:28] SuperQ commented on #274
This is for Grafana I assume?

[2020-02-02 06:32] SuperQ commented on #274
This one? https://grafana.com/grafana/plugins/jdbranham-diagram-panel

[2020-02-02 11:36] krokodilerian commented on #266
Found the issue, we were missing the intermediate cert (someone reported it to us). This was also the case for stream.fosdem.org, making a note to get that fixed on all certs in ansible before closing this.

[2020-02-02 11:38] krokodilerian commented on #266
Apologies. @bastischubert was the one who reported it, it's here two messages up, and my head seems to be somewhat missing.

[2020-02-02 12:06] msuriar opened #287 "Syslog: configure all network devices to log using facility local7"
Also update rsyslogd config to match on local7 instead of hostname.

[2020-02-02 12:08] msuriar opened #288 "Syslog: set up loki or similar syslog analytics thingy"

[2020-02-02 12:09] msuriar opened #289 "Syslog: define a facility for voctops and banana Pis (same? different?) and get them logging remotely"

[2020-07-08 03:36] baldurmen opened #296 "Please add a licence file to this project"
Hi!

The DebConf Videoteam (0/) is planning to reuse the voctomix web interface you published in this repository.

It would be nice if you could add a license file :P

[2020-07-10 19:48] RichiH commented on #296
We have had quite a few different contributors. I would be fine with GPL v2/3 or Apache 2.0; collecting this information will be a bit of legwork, though...

[2020-07-10 19:49] RichiH commented on #296
@SuperQ @gerryd @msuriar @krokodilerian @yoe @markvdb @johanvdw @brian-brazil @hackman

[2020-07-10 19:56] markvdb commented on #296
I will gladly license my (minor) contrbutions under any FOSS license, with
a slight preference for GPL v3.

Mark

Op vr 10 jul. 2020 om 21:50 schreef Richard Hartmann <
notifications@github.com>:

--
Mark Van den Borre
Hogestraat 16
3000 Leuven, België
+32 486 961726

[2020-07-11 03:42] krokodilerian commented on #296
Apologies. I saw this, and didn't have time to respond.

The files in question are pretty much two, both in ansible/playbooks/roles/video-control-server/files - vocto.php (the interface itself) and imgmaker.sh (that creates the thumbnails). imgmaker is so small it doesn't even qualify for a license, and vocto.php has been touched by me (my preference was 2-clause MIT/BSD, as this is extremely triv

[2020-07-11 16:05] baldurmen commented on #296
Well, there is also the `video-control-server` ansible role code too :)

[2020-07-11 16:15] krokodilerian commented on #296
Ok, let me see if I can get everyone to sign off a license file for the repo:) The only preference so far is Mark's for GPLv3, so if no other opinions show, I'll get a pull request for it and it should be in next week.

[2020-07-11 16:23] krokodilerian commented on #296
Pull req. created: https://github.com/FOSDEM/infrastructure/pull/297

[2020-07-15 09:24] #296 closed